<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'sm Jay Patel</h1>
		<p>Welcome to my new blog which is my new ruby on rails challenge</p>
		<p>This week I built a blog in rails 4. You'reactually on the demo applicaiotn right now. It's cool stuff, right!. </p>
		<p>If you'd like to follow along as I learn more ruby on rails find me on Linkedin <a href="https://nz.linkedin.com/in/frontendjay">@JayPatel</a> or on the Github at <a href="https://github.com/jpjaypatel34">Jpjaypatel34</a>, and get myposts and exclusive content in your inbox by signing up for myblog <a href="https://github.com/jpjaypatel34/blog"> here</a>.</p>
	</div>
</div>